QToolButton#NavigationButton {
    border: none;
    border-radius: 10px;
}

    QToolButton#NavigationButton:enabled {
        background: rgb(80, 80, 80);
    }

    QToolButton#NavigationButton:hover {
        background: rgb(100, 100, 100);
    }

    QToolButton#NavigationButton:checked {
        background: rgb(150, 150, 150);
    }